* {
  background-color: indigo;
}

.App {
  text-align: center;
}

.film-box h2, .film-box h2 a {
  color: ghostwhite;
}

.film a {
  text-decoration: none;
  color: hotpink;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.film-list {
  list-style: none;
}

#dot {
  color: #89B802;
}
